body {
    background-color: #FFCED1;
}

.post {
    background-color: #FFCED1;
    border: 1px solid #FFCED1;
    margin: 10px;
    padding: 10px;
  }
  
/* Style the text within each Post component */
.post .user{
    color: #C93556;
    font-weight: bold;
    cursor: pointer;
}
.post .text{
    color: #fff;
    font-weight: bold;
}

.post .botTab {
    cursor: pointer; 
  }
  